{% extends 'base.html' %}

{%block 'conteudo'%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!--Logo-->
    <a class="navbar-brand" href="">Tenno</a>

    <!--Menu Amburguer-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-opcoes1">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navegação-->
    <div class="collapse navbar-collapse" id="nav-opcoes1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contato</a></li>
            <li class="nav-item"><a class="nav-link" href="">Sobre</a></li>
        </ul>
        <!--Pesquisa-->
        <form class="form-inline" action="">
            <input class="form-control" placeholder="Pesquisar..." type="text">
            <button class="btn btn-outline-light">Pesquisar</button>
            <span class="pl-2"></span>
            <button class="btn btn-dark btn-sm">Cadastrar</button>
            <button class="btn btn-dark btn-sm">Login</button>
        </form>
    </div>
</nav>
{%endblock%}