.card-columns {
    padding-top: 10px;
    width: 1220px;
}

.card-img-top {
    padding: 5px;
}

div ul li a:hover {
    border-bottom: 1px solid gray;
}

button a, a:hover {
    text-decoration: none;
    color: gray;
}
